# Python environments
myenv/
venv/
.env/
.venv/
__pycache__/
*.pyc

# Airflow local files
airflow/airflow.db
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/logs/
airflow/*.pid
airflow/simple_auth_manager_passwords.json.generated

# Data and generated outputs
data/processed/*.csv
models/*.pkl
*.pkl

# Jupyter/cache files
.ipynb_checkpoints/
.DS_Store

# Secrets / environment variables
.env
*.env